@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&display=swap');

$fontSizeSm: 13px;
$fontSizeLg: 16px;
$messagePaddingSm: 5px 10px;
$messagePaddingLg: 10px 15px;
$windowPadding: 5px;
$msgBorderRadiusSm: 10px;
$msgBorderRadiusLg: 15px;
$headerGrey: #f3f3f3;


::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(177, 177, 177);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgb(209, 209, 209);
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: rgb(209, 209, 209);
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
  
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(226, 226, 226);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(154, 154, 154);
}

:focus {
  outline: -webkit-focus-ring-color auto 1px;
}

html {
  height: 100%;
  height: -webkit-fill-available;
  box-sizing: border-box;
}

#root {
  height: 100%;
  height: -webkit-fill-available;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Poppins', sans-serif;

  height: 100%;
  min-height: -webkit-fill-available;
  margin: 0;
}

ul {
  list-style: none;
  padding-left: 0;
}

.App {

  text-align: center;
  background: #dcdcdc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-size: $fontSizeSm;
  font-family: 'Poppins', sans-serif;
  @media screen and (min-width: 768px) {
    font-size: $fontSizeLg;
  }
}

.wrapper {
  position: relative;
  //max-width: 500px;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  //flex-direction: column;
  width: 100%;
  //height: 100vh;
  height: 100%;
}

.header {
  height: 72px;
  padding: 0 1em;
  display: flex;
  align-items: center;
  //width: 100%;
  position: relative;
  background: $headerGrey;
  // border-radius: 25px 25px 0 0;
  // -webkit-border-radius: 25px 25px 0 0;
  // -moz-border-radius: 25px 25px 0 0;
  // -ms-border-radius: 25px 25px 0 0;
  // -o-border-radius: 25px 25px 0 0;
  .headerInfo {
    width: 100%;
    padding-left: 1em;
    text-align: left;
  }
  .usersInRoom {
    font-size: .9em;
  }
  h2, h3 {
    margin: 0;
    width: 100%;
  }
  .backLink, 
  .menuLink {
    padding: .5em;
    cursor: pointer;
    width: 20px;
    height:20px;
    font-size: 16px;
    &.noPointer {
      cursor: unset;
    }
  }
}

.innerWrapper {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: white;
  overflow: hidden;
}

.pageWrapper { 
  height: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: white;
  width: 100%;
  //overflow-y: auto;
  .warnText {
    color: rgb(220, 77, 11);
    height: 25px;
  }
  .loginForm {
    //margin-top: 2em;
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 150px;
    align-self: center;
    input, button {
      margin-top: 15px;
      font-size: 1.2em;
      border: none;
    }
    input {
      border-bottom: 2px solid darkgrey;
    }
    button {
      -webkit-border-radius: 8;
      -moz-border-radius: 8;
      border-radius: 8px;
      color: #ffffff;
      font-size: 18px;
      background: #3498db;
      padding: 10px 20px 10px 20px;
      text-decoration: none;
      cursor: pointer;
      &:hover {
          background: #3cb0fd;
          text-decoration: none;
      }
    }
    input[type='checkbox'] {
      position: relative;
      top: 1px;
    }
    span { 
      text-align: center;
    }
  }
}

.selectWrapper {
  height: 100%;
  width: 100%;
  display: flex;
  padding: 0 1em;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: scroll;
  p {
    width: 72%;
  }
  >* {
    padding-left: 1em;
    padding-right: 1em;
  }
}

.selectRoomTabs {
  width: 100%;
  display: flex;
  background: $headerGrey;
  user-select: none;
  .roomTab {
    padding: 10px;
    width: 100%;
    text-align: center;
    cursor: pointer;
    user-select: none;
    &.active {
      cursor: unset;
      font-weight: bold;
      background: white;
    }
  }
}

#messages {
  margin-top :0;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 100%;
  //max-height: 587px;
  padding: 5px;
  background: white;
  width: 98%;
  .message {
    position: relative;
    list-style: none;
    text-align: left;
    //font-weight: bold;
    max-width: 80%;
    background: rgb(237, 237, 237);
    border-radius: $msgBorderRadiusSm  $msgBorderRadiusSm  $msgBorderRadiusSm 0;
    -webkit-border-radius: $msgBorderRadiusSm  $msgBorderRadiusSm  $msgBorderRadiusSm 0;
    -moz-border-radius: $msgBorderRadiusSm  $msgBorderRadiusSm  $msgBorderRadiusSm 0;
    -ms-border-radius: $msgBorderRadiusSm  $msgBorderRadiusSm  $msgBorderRadiusSm 0;
    -o-border-radius: $msgBorderRadiusSm  $msgBorderRadiusSm  $msgBorderRadiusSm 0;
    padding: $messagePaddingSm;
    margin-top: 5px;
    align-self: flex-start;
    //font-family:'Roboto', sans-serif;
    @media screen and(min-width: 768px) {
      padding: $messagePaddingLg;
      border-radius: $msgBorderRadiusLg;
      -webkit-border-radius: $msgBorderRadiusLg;
      -moz-border-radius: $msgBorderRadiusLg;
      -ms-border-radius: $msgBorderRadiusLg;
      -o-border-radius: $msgBorderRadiusLg;
    }
    .messageName {
      //font-weight: bold;
      font-size: .7em;
    }
    .messageText {
      display: inline-block;
    }
    .timeStamp {
      //position: absolute;
      font-size: .7em;
      opacity: .5;
      //align-self: flex-start;
      //text-align: left;
      //position: absolute;
      font-weight: normal;
      //left: 2px;
      //bottom: -16px;
      float: right;
      position: relative;
      top: 5px;
      left: 5px;
    }
    &.message-user {
      align-self: flex-end;
      background: rgb(202, 239, 255);
      border-radius:  $msgBorderRadiusSm  $msgBorderRadiusSm 0  $msgBorderRadiusSm;
      -webkit-border-radius:  $msgBorderRadiusSm  $msgBorderRadiusSm 0  $msgBorderRadiusSm;
      -moz-border-radius:  $msgBorderRadiusSm  $msgBorderRadiusSm 0  $msgBorderRadiusSm;
      -ms-border-radius:  $msgBorderRadiusSm  $msgBorderRadiusSm 0  $msgBorderRadiusSm;
      -o-border-radius:  $msgBorderRadiusSm  $msgBorderRadiusSm 0  $msgBorderRadiusSm;
      .timeStamp {
        //align-self: flex-end;
        //text-align: right;
        //right: 2px;
        //left: 5px;
      }
    }
    &.message-admin {
      padding: 10px;
      margin-left: 0.5em;margin-right: 0;
      text-align: center;
      width: 100%;
      color: #aaa;
      background: none;
      font-weight: normal;
      align-self: center;
      //border-top: 1px solid rgb(214, 214, 214);
      //border-bottom: 1px solid rgb(214, 214, 214);
      border-radius: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      -o-border-radius: 0;
      .timeStamp {
        align-self: center;
        text-align: center;
        right: unset;
        width: 100%;
      }
    }
  }
}

.footer {
  background: $headerGrey;
  // border-radius: 0 0 25px 25px;
  // -webkit-border-radius: 0 0 25px 25px;
  // -moz-border-radius: 0 0 25px 25px;
  // -ms-border-radius: 0 0 25px 25px;
  // -o-border-radius: 0 0 25px 25px;
  min-height: 60px;
  .messageForm {
    display: flex;
    flex-wrap: nowrap;
    padding: 10px;
    //border-top: 2px solid rgb(226, 226, 226);
    input {
      padding: 10px;
      width: 100%;
      border: 2px solid rgb(226, 226, 226);
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
    }
    button {
      margin-left: 5px;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      border: none;
      background:rgb(94, 191, 85);
      //padding: 8px 20px;
      width: 48px;
      //height: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      .send {
        position: relative;
        left: 2px !important;
      }
    }
  }
}

.typingInfo {
  position: absolute;
  bottom: 7px;
  width: 100%;
  text-align: center;
  left: 0;
  font-size: .8em;
  opacity: .7;
}
.userPic {

  //padding: 0 10px;
  min-width: 150px;
  max-width: 150px;
  min-height: 150px;
  display: flex;
  justify-content:center;
  align-items: center;
  background:#3498db42;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}



.userPic div {
  font-weight: bold;
  opacity: 0.8;
}

.publicRoomsList {
  li {
    padding: 3px 10px;
    border: 1px solid lightgrey;
    border-radius: 10px;
    margin: 5px;
  }

}

.menu {
  //padding: 18px; 
  z-index: 100;
  //margin-top: 72px;
  position: absolute;
  //height: 100%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: #f0f0f0;
  .menuLink {
    align-self: flex-end;
    position: relative;
    top: 26px;
    right: 23px;
    font-size: 1.6em;
  }
  ul {
    height: 50%;
    background: none;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
  }
}














